---
import BaseLayout from './BaseLayout.astro';
import { fade } from 'astro:transitions';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.pageTitle}>
    <h1>{frontmatter.title}</h1>
    <div class="data">
        <ul>
            <li transition:animate={fade({ duration: '.2s' })}>Escrito por <a href="/about/">{frontmatter.author}</a></li>
            <li transition:animate={fade({ duration: '.5s' })}>Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}</li>
            <li transition:animate={fade({ duration: '.9s' })}>Descripción: {frontmatter.description}</li>
        </ul>
        <div class="tags">
            {
                frontmatter.tags.map((tag) => (
                    <a class="taglink" href={`/tags/${tag}`} title={tag}>
                        {tag}
                    </a>
                ))
            }
        </div>
    </div>
    <div class="content">
        <img width={frontmatter.image.ancho} height={frontmatter.image.alto} src={frontmatter.image.url} alt={frontmatter.image.alt} />
        <slot />
    </div>
</BaseLayout>
<style>
    ul {
        list-style-type: none;
        font-size: 0.7em;
        padding: 10px;
    }

    .tags {
        display: flex;
    }

    .taglink {
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
        margin: 0.25em;
        display: flex;
    }
    .content {
        position: relative;
    }

    .content img {
        float: left;
        margin-right: 20px;
        max-height: 400px;
        width: auto;
        shape-outside: url({frontmatter.image.url});
    }
</style>
